<p id="user-image"><%= attachment_image_tag user, :user_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "100x100" %></p>
<p id="user-name"><%= user.name %></p>
<p id="user-email"><%= user.email %></p>