// Place all the styles related to the admins::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admins_all_user_title{
	margin-left: 300px;
}

.admins_all_user{
	margin-left: 400px;
}

.admins_all_user_line{
	width: 800px;
	margin-bottom: 10px;
}

.admins_all_user_image{
	margin-right: 10px;
	width: 70px;
}

.admins_all_user_name{
	width: 150px;
	margin-left: 10px;
}