// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav_search{
	margin-top: 5px;
	width: 250px;
    position: fixed;
    left: 615px;
}


.search_button{
	color: black;
	background: white;
	border-radius: 20px;
	text-decoration: none;
	width: 40px;

}

.search_button:hover {
    background: #333;
}

#search_button_link a{
    text-decoration: none;
}

.post_category_title{
	margin-left: 20px;
}

#post_category a{
    color: black;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* --- post_index -------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */

/* レスポンシブ時に表示しているランキングとオススメを非表示にしています */
.responsive_rank_recommend{
	display: none;
}

.responsive_all_title{
	display: none;
}

.responsive_ranking{
	display: none;
}

.post_index_wantranking_title{
    display: none;
}

.responsive_recommend{
	display: none;
}

/* 投稿したものの位置と枠線を指定しています */
.post{
	float: left;
	border: 2px solid whitesmoke;
	margin: 10px;
}

/* 投稿したuserのプロフィール画像の位置を指定しています */
.post_index_user_name_image{
	margin-top: 5px;
	margin-left: 20px;
	height: 50px;
	display: block;
}


.user_image{
	border: 2px solid whitesmoke;
}
/* 投稿した画像の位置を指定しています */
.post_index_post_image{
	display: block;
}

/* wantボタンの位置と高さを指定しています */
.post_index_iine{
	margin-left: 20px;
	height: 40px;
}

/* wantボタンのサイズと色を指定しています */
.iine__button{
	margin-left: 10px;
	font-size: 20px;
	color: #333;
}

/* wantボタンのhover時の色を指定しています */
.iine__button :hover{
	color: dimgray;
}

/* 投稿のcategoryのリンクの縦幅と枠線、位置を指定しています */
.post_index_post_category{
	height: 30px;
	width: 95px;
	margin-left: 29px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid whitesmoke;
}

/* 投稿のcategoryのリンクのhover時の色を指定しています */
.post_index_post_category :hover{
	background: #333;
	border-radius: 10px;
}

/* 投稿のcategoryのリンクの文字色とリンクの下線を指定しています */
#post_index_category_link a{
    text-decoration: none;
    color: black;
}

.post_index_bottom_link{
	margin-bottom: 5px;
}


.fixed_post{
  font-size: 25px;
  position: fixed;
  bottom: 0px;
  right: 43px;
  border-radius: 200px;
  border: 2px solid whitesmoke;
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0 0 1em;
  background: #fff;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.fixed_post:hover {
    font-size: 25px;
    position: fixed;
    bottom: 0px;
    right: 43px;
    border-radius: 200px;
    background: #333;
    border: 1px #333;
}

#post_link a{
    text-decoration: none;
    color: black;
}

img {
    border-radius: 30px;
    border: 2px solid whitesmoke;
}

.post_image {
    border-radius: 10px;
}

#post-all{
	margin-left: 45px;
	margin-bottom: 20px;
}

.post_index_show{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 5px;
}

.post_index_post_name{
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 30px;
	width: 279px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_show_post_name{
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 30px;
	width: 279px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_index_content{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 30px;
	width: 279px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_show_content{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 125px;
	width: 279px;
	word-wrap: break-word;
}

.post_index_content p{
	margin-bottom: 0px;
    width: 275px;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;

}

.post_index_url{
	height: 25px;
	width: 120px;
	text-align: center;
	border-radius: 10px;
	margin-left: 20px;
	background: gold;
}

.post_index_url:hover {
    background: yellow;
}

#post_url_link a{
	text-decoration: none;
    color: black;
}

#post_index_show_link a{
	text-decoration: none;
}


.post_index_m{
	width: 300px;
}

.post_new_image{
	height: 50px;
	margin-bottom: 30px;
}

.post_new_post_name{
	margin-bottom: 10px;
}

.post_new_post_url{
	margin-bottom: 10px;
}

.post_new_content{
	margin-bottom: 10px;
}

.post_show_all{
	margin-bottom: 20px;
	margin-left: 100px;

}
.post_comment_index_all{
	margin-top: 15px;
}

.post_comment_index_title{
	margin-left: 5px;
}

.post_comment_index_top{
	margin-bottom: 20px;
}

.post_comment_index{
    border: 2px solid whitesmoke;
    width: 600px;
    padding-top: 10px;
    padding-left: 10px;
}

.post_comment_index_content{
	border-bottom: 2px solid whitesmoke;
	width: 575px;
}

.post_comment_index_delete{
	margin-top: 12px;
	margin-left: 110px;
}

.post_comment_index_submit{
	margin-top: 5px;
}

.comment_more{
	width: 50px;
	text-align: center;
	margin-top: 5px;
	margin-left: 550px;
	border-radius: 10px;
}

.comment_more:hover{
	width: 50px;
	text-align: center;
	margin-left: 550px;
	background: whitesmoke;
}

.post_edit_link{
	margin-left: 70px;
}

#post_post_name{
	height: 40px;
}


#post_url{
	height: 40px;
}

#comment_content{
	height: 60px;
	width: 360px;
}

/*------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------iphonex----------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:375px){

/*------------------------------------------------------------------------------------------------------------------- */
/*-------post_index---------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------- */

.responsive_rank_recommend{
	display: block;
}

.responsive_ranking{
	display: block;
}

.responsive_ranking_title{
	margin-top: 90px;
	margin-left: 20px;
	margin-bottom: 10px;
    width: 89.5vw;
    border-bottom: 2px solid #333;
}

.responsive_rank_number{
	margin-left: 60px;
	margin-bottom: 5px;
}

.responsive_all_ranks{
	width: 125px;
	float: left;
}

.responsive_rank_post_all{
	margin-left: 8px;
	width: 110px;
	border: 2px solid whitesmoke;
}

.responsive_rank_post_image{
    margin-left: -7px;
    display: inline-block;
}

#responsive_rank_post_name{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: auto;
	height: 25px;
	color: black;
	border: 2px solid whitesmoke;
	width: 96.5px;
	white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.responsive_rank_post_url{
	height: 25px;
	width: 96.5px;
	text-align: center;
	border-radius: 10px;
	margin-left: 4px;
	margin-bottom: 10px;
	background: gold;
}

.post_responsive_recommend_all{
	margin-left: 15px;
}

.responsive_recommend{
	display: block;
}

.responsive_recommend_title{
	margin-top: 20px;
	margin-left: 20px;
    width: 89.5vw;
    border-bottom: 2px solid #333;
}

.responsive_all_title{
	display: block;
	margin-top: 20px;
	margin-left: 20px;
    width: 89.5vw;
    border-bottom: 2px solid #333;
}

.post_index_wantranking_title{
    display: block;
    margin-left: 20px;
}

.post_category_all{
	margin-top: 100px;
	margin-bottom: 80px;
}

.post_search_all{
	margin-top: 100px;
}

.post_hashtag_all{
	margin-top: 100px;
}

#post-all{
	margin-left: 15px;
	margin-bottom: 100px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-------post_show---------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

.post_show_all{
	margin-top: 75px;
	margin-left: 12px;
	margin-bottom: 80px;
}

.post_comment_index_all{
	margin-top: 15px;
	width: 93.5vw;
}

.post_comment_index_title{
	margin-left: 5px;
}

.post_comment_index_top{
	margin-bottom: 20px;
}

.post_comment_index{
    border: 2px solid whitesmoke;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.post_comment_index_content{
	border-bottom: 2px solid whitesmoke;
	width: 100%;
}

.post_comment_index_delete{
	margin-top: 12px;
	margin-left: 0px;
}

#comments_area{
	width: 100%;
}

.comment_more{
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-left: 0px;
	border-radius: 10px;
}

.comment_more:hover{
	width: 100%;
	text-align: center;
	margin-left: 0px;
	background: whitesmoke;
}

.post_edit_link{
	margin-left: 50px;
	margin-right: 5px;
}

#post_post_name{
	height: 40px;
}


#post_url{
	height: 40px;
}

#comment_content{
	height: 60px;
	width: 93.5vw;
}

#post-modal {
	width: 100vw;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------post_follow_index-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
















}