.users_registrations_new_all{
	width: 400px;
	height: 400px;
	text-align: center;
	border: 2px solid whitesmoke;
	margin-left: 350px;
	padding-top: 10px;
}

.users_registrations_new_pass_form{
	margin-bottom: 20px;
}

.users_registrations_new_submit_button{
	width: 250px;
	height: 50px;
	background: #333;
	color: white;
	margin-bottom: 10px;
}

.users_registrations_new_submit_button:hover{
	width: 250px;
	height: 50px;
	background: dimgray;
	color: white;
}