// Place all the styles related to the users::relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.following_user_all{
	width: 600px;
	height: 30px;
	margin-left: 250px;
	text-align: center;
	text-align: justify;
	border-bottom: 2px solid whitesmoke;
}

@media screen and (max-width:375px){

/*-------user_following-------------------------------*/

.following_user_all{
	width: 100%;
	height: 30px;
	margin-top: 70px;
	margin-left: 0px;
	margin-bottom: 70px;
	text-align: center;
	text-align: justify;
	border-bottom: 2px solid whitesmoke;
}














}