.users_sessions_new_all{
	width: 400px;
	height: 450px;
	text-align: center;
	border: 2px solid whitesmoke;
	margin-left: 350px;
	padding-top: 10px;
}

.users_sessions_new_pass_rem{
	margin-bottom: 20px;
}