<div class=about_all>

  <div class=about_image1>

    <div class=about_content_all>

      <p class=about_intro>
        自分のこだわりのモノを投稿しよう
      </p>

      <p class=about_content>
        一生使っていきたいモノ<br>
        誰かにプレゼントしたいモノ<br>
        皆んなにおすすめしたいモノ<br>
        ここにはそんな皆んながいいと思ったモノが溢れています。
      </p>

      <p class=about_post_all>
        <p class=about_post_top_link>
          <%= link_to "投稿する",new_user_registration_path, class:"about_post_start",style:  "color:white;" %>
        </p>
      </p>

    </div>
  </div>

</div>