<div class=about_all>

  <div class=about_image1>

    <div class=about_content_all>

      <p class=about_intro>
        自分の「いい」と思ったモノを投稿しよう
      </p>

    </div>
  </div>

</div>

<div class=about_all>
  <div class="about_center_top_title">はじめまして、Pickingです。</div><br>
  <div class="about_content_1">
    <div class="about_content_1_intro">自分の「いい」と思ったのモノを投稿　</div>
    <p class="about_content_1_text">Pickingは、世の中にある「いい」モノを皆んなで広げるサービスです。<br>
      日々の暮らしの中で使っている「いい」と思ったモノを<br>
      パソコンやスマートフォンを使って投稿することができます。
    </p>
  </div>
  <div class="about_content_1">
    <div class="about_content_1_intro">誰かが「いい」と思ったのモノに出会える</div>
    <p class="about_content_1_text">Pickingは、世の中にある「いい」モノに出会うことができます。<br>
      誰かが日々の暮らしの中で「いい」と思っているものとの<br>
      新しい出会いをお届けします。
    </p>
  </div>
  <div class=about_post_all>
    <p class=about_post_top_link>
      <%= link_to "今すぐはじめる",new_user_registration_path, class:"about_post_start",style:  "color:white;" %>
    </p>
  </div>
</div>