<%= link_to 'Post', new_post_path, remote: true, class: "btn btn-lg, btn-primary" %>
<div id="post-all">
	<% @posts.each do |post| %>
		<%= attachment_image_tag post, :post_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "100x100" %>
		<%= post.post_content %>
	<% end %>
</div>
<div class="modal fade" id="post-modal" tabshow="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>