/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// for Bootstrap4
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

.devise_title{
	padding-top: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------PC時のCSSを指定しています--------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------header(PC)---------------------------------------------------------*/

/* headerのレイアウトを指示しています */

.header_top{
	position: fixed;
	top: 0px;
    left: 0px;
	width: 100%;
	height: 70px;
	margin-bottom: 20px;
	background: #fff;
	z-index: 20;
}
.header-top * {
	position: relative;
	z-index: 20;
}

/* headerのサイト名の位置を指示しています */

.nav_title_name{
	width: 320px;
	margin-top: 10px;
	margin-left: 15px;
}

/* headerのボタンの位置を指示しています */

.nav_home_bar{
    text-align: right;
    position: fixed;
    right: 10px;
}

.nav_home_select{
	padding: 10px;
}

/* responsive時のheaderのボタンを消しています */

.nav_home_responsive{
	display: none;
}

.nav_logout_responsive{
	display: none;
}

.nav_signup_responsive{
	display: none;
}

/* ログアウト時の検索フォームの位置を指示しています */

.nav_search{
	margin-top: 5px;
	width: 250px;
    position: fixed;
    left: 615px;
}

.search_button{
	color: black;
	background: white;
	border-radius: 20px;
	text-decoration: none;
	width: 40px;
}

.search_button:hover {
    background: #333;
}

#search_button_link a{
    text-decoration: none;
}

.nav_search_logout{
	margin-top: 5px;
	width: 250px;
    position: fixed;
    left: 615px;
}

/* 非ログイン時のabout_barを消しています */

.user_notlogin_about{
	display: none;
}

/* ログイン時のheaderのボタンの色を指定しています */

.nav_root_button{
    color: black;
}

.nav_root_button :hover{
    color: #333;
}

.nav_follow_index_button{
    color: black;
}

.nav_follow_index_button :hover{
    color: #333;
}

.nav_mypage_button{
    color: black;
}

.nav_mypage_button :hover{
    color: #333;
}

.nav_notification_button{
    color: black;
}

.nav_notification_button :hover{
    color: #333;
}

.nav_destroysession_button{
    color: black;
}

.nav_destroysession_button :hover{
    color: #333;
}

.nav_session_button{
    color: black;
}

.nav_session_butto :hover{
    color: #333;
}

.nav_registration_button{
    color: black;
}

.nav_registration_button :hover{
    color: #333;
}

/*---------------------------------------------------/header(PC)------------------------------------------------------*/

/*---------------------------------------------------body(PC)---------------------------------------------------------*/

.container{
	margin-top: 70px;
}

#wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.fixed_post a{
   font-size: 25px;
   position: fixed;
   bottom: 0px;
   right: 43px;
   border-radius: 200px;
   border: 2px solid whitesmoke;
   display: inline-block;
   padding: 0.6em 2em;
   margin: 0 0 1em;
   background: #fff;
   color: #333;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}

.fixed_post:hover a{
    font-size: 25px;
    position: fixed;
    bottom: 0px;
    right: 43px;
    border-radius: 200px;
    background: #333;
    border: 1px #333;
}

/*-------------------------------------------------sidebar_left(PC)---------------------------------------------------*/

/*-------------------------category-------------------------*/

/* categoryのtitleの位置を指示しています */

.category_title{
	margin-bottom: 20px;
}

/* categoryの全体の位置を指示しています */

.fixed_category{
	position: fixed;
	height: 300px;
    bottom: 420px;
    left: 10px;
    padding: 6px 40px;
}

/*-------------------------/category------------------------*/

/*-------------------------------------------------sidebar_righit(PC)------------------------------------------------*/

/*-------------------------ranking--------------------------*/

/* rankingの全体の位置を指示しています */

.fixed_rank{
	position: fixed;
	height: 300px;
    bottom: 420px;
    right: 10px;
    padding: 6px 40px;
}

/* rankingの投稿のレイアウトを指示しています */

.fixed_recommend_post{
	position: fixed;
	height: 20px;
    bottom: 420px;
    left: -10px;
    padding: 6px 40px;
}

.rank_post_all{
	margin-bottom: 2px;
	width: 144px;
	border: 2px solid whitesmoke;
}

.rank_title{
	margin-bottom: 0px;
}

.rank_number{
	margin-top: 2px;
	margin-right: 20px;
	font-size: 25px;
}

.rank_post_image{
	margin-left: 30px;
	margin-bottom: 5px;
	display: inline-block;
	height: 50px;
}

.rank_post_name{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	display: inline-block;
	height: 50px;
}

.rank_post_url{
	height: 25px;
	width: 120px;
	text-align: center;
	border-radius: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: gold;
}

.rank_post_url:hover {
    background: yellow;
}

#rank_post_name a{
	display: inline-block;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
	height: 30px;
	color: black;
	border: 2px solid whitesmoke;
	width: 120px;
	white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*-----------------------/ranking---------------------------*/

.index_link_title{
	width: 150px;
	border: 2px solid whitesmoke;
	border-radius: 20px;
	text-align: center;
}

.index_link_title :hover{
	border-radius: 20px;
	background: #333;
}

#index_link_title a{
	text-decoration: none;
	font-size: 25px;
}

#index_link_title a:hover{
	text-decoration: none;
}

/*-----------------------recommend_item----------------------*/

/* recommend_itemの投稿のレイアウトを支持しています */

.recommend_post_url{
	height: 25px;
	width: 120px;
	text-align: center;
	border-radius: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: gold;
}

.recommend_post_url:hover {
    background: yellow;
}

/*-----------------------/recommend_item----------------------*/

/*-----------------------about_bar----------------------------*/

/* 非ログイン時のaboutページへのリンクのレイアウトを指示しています */

.user_notlogin_about_all{
	width: 100%;
	height: 70px;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	padding-top: 13px;
	position: fixed;
	bottom: 0px;
	background: linear-gradient(to bottom right, blue, pink);
	opacity: 0.8;
	z-index: 10;
}

.user_notlogin_about_all :hover{
	color: #333;
	text-decoration: none;
}

.user_notlogin_about_content{
	color: white;
	text-decoration: none;
}

/*-----------------------/about_bar---------------------------*/

/*--------------------------------------------------/body(PC)---------------------------------------------------------*/

/*-------------------------------------------------footer(PC)---------------------------------------------------------*/

/* footerのレイアウトを指示しています */

footer{
    margin-top: auto;
}

.footer_bottom{
	height: 70px;
	background: #333;
}

.devise_footer_bottom{
	height: 70px;
	background: #333;
}

.homes_footer_bottom{
	height: 70px;
	background: #333;
}

.footer_information_all{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* 非ログイン時のfooterのレイアウトを指示しています */

.footer_bottom_notlogin{
	height: 70px;
	background: #333;
}

/* footerのサイト名のレイアウトを指示しています */

.footer_picking_name{
	width: 95px;
	float: left;
	margin-left: 50px;
	color: white;
}

/* footerのプライバシーポリシーへのリンクのレイアウトを指示しています */

.footer_privacy_policy{
	width: 100px;
	float: left;
    margin-top: 6px;
	margin-left: 10px;
	font-size: 10px;
}

/* footerの利用規約へのリンクのレイアウトを指示しています */

.footer_term{
	width: 70px;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	font-size: 10px;
}

/* responsive時のfooterのボタンを消しています */

.responsive_footer_bottom{
	display: none;
}

.responsive_footer_button_all{
	display: none;
}

.footer_top_button{
   display: none;
}

.footer_timeline_button{
   display: none;
}

.footer_post_button{
   display: none;
}

.footer_mypage_button{
   display: none;
}

.footer_notification_button{
   display: none;
}

/* page_topボタンのレイアウトを支持しています */

.page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  left: 75px;
  bottom: 75px;
  opacity: 0.6;
}
.page_top a{
  width: 60px;
  height: 60px;
  text-decoration: none;
}
.page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '';
  font-size: 50px;
  color: #333;
}

/*-------------------------------------------------/footer(PC)--------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------responsive時のCSSを指定しています---------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:376px){

.sp {
	display: none!important;
	}
}
@media screen and (max-width:375px){

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

/*---------------------------------------------header(responsive)-----------------------------------------------------*/

/* headerのレイアウトを指示しています */

.header_top{
	position: fixed;
	top: 0px;
    left: 0px;
	width: 100vw;
	height: 100px;
	margin-bottom: 20px;
	background: #fff;
	z-index: 20;
	text-align: center;
}
.header-top * {
	position: relative;
	z-index: 20;
}

/* headerのサイト名の位置を指示しています */

.nav_title_name{
	width: 100%;
	margin-left: 0px;

}

.devise_title{
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

/* headerのボタンの位置を指示しています */

.nav_home_bar{
    text-align: right;
    display: none;
}

.nav_home_select{
	padding: 10px;
	display: none;
}

.nav_home_responsive{
	display: block;
	z-index: 30;
	position: fixed;
	left: 73vw;
	top: 20px;
	margin-top: 4px;
}

.nav_logout_responsive{
	display: block;
	z-index: 30;
	position: fixed;
	left: 90vw;
	top: 20px;
	margin-top: 4px;
}

.nav_signup_responsive{
	display: block;
	z-index: 30;
	position: fixed;
	right: 45px;
	top: 20px;
	margin-top: 2.5px;
}

.user_notlogin_about{
	display: block;
	font-size: 32px;
	position: fixed;
    bottom: 20px;
    right: 5px;
    border-radius: 200px;
    border: 2px solid whitesmoke;
    background: white;
    color: white;
}

.fixed_post{
    display: none;
}

/*-----------------ハンバーガーアイコン--------------------*/

#hm_category{
  position: fixed;
  top: 20px;
  margin-top: 5px;
  z-index: 60;
}

.menu_trigger,
.menu_trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu_trigger {
  position: relative;
  width: 30px;
  height: 14px;
}

.menu_trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}

.menu_trigger span:nth-of-type(1) {
  top: 0;
}

.menu_trigger span:nth-of-type(2) {
  top: 20px;
}

.menu_trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu_trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
  background-color: black;
}

.menu_trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu_trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-5px) rotate(45deg);
  transform: translateY(-5px) rotate(45deg);
  background-color: black;
}

/*-------------------/ハンバーガーアイコン---------------------*/

/*--------------------- spメニュー --------------------------*/

#sp_menu {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  color: #333;
  min-height: 100%;
  display: none;
  z-index: 60;
}

#sp_menu li{
  text-align: center;
  margin-bottom: 30px;
}

#sp_menu a{
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/*--------------------- /spメニュー -------------------------*/

/*----------------------検索フォーム-------------------------*/

/* 検索フォームの位置を指示しています */

.nav_search{
	position: fixed;
	top: 60px;
	left: 70px;
	margin-top: 5px;
	width: 70%;
	text-align: center;
}

/* 検索フォームのサイズを指示しています */

input#search{
	width: 50vw;
}

/* 検索フォームのレイアウトを指示しています */

.search_button{
	color: black;
	background: white;
	border-radius: 20px;
	text-decoration: none;
	margin-bottom: 1px;
}

.search_button:hover {
    background: #333;
}

#search_button_link a{
    text-decoration: none;
}

/* 非ログイン時の検索フォームの位置を指示しています */

.nav_search_logout{
	margin-top: 5px;
	margin-right: 0px;
	width: 700px;
	text-align: center;
}

/*---------------------/検索フォーム--------------------------*/

/*-----------------------category---------------------------*/

/* categoryのtitleの位置を指示しています */

.post_category_title{
	margin-left: 20px;
}

.category_title{
	margin-bottom: 20px;
}

/* categoryの全体の位置を指示しています */

.fixed_category{
	position: fixed;
	height: 300px;
    bottom: 420px;
    left: 10px;
    padding: 6px 40px;
    display: none;
}

.category_responsive{
	margin-top: 70px;
}

/*-----------------------/category--------------------------*/

/*--------------------------------------------/header(responsive)-----------------------------------------------------*/

/*---------------------------------------------body(responsive)-------------------------------------------------------*/

.container{
	margin-top: 70px;
}

#wrapper{
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

/*-------------------------ranking--------------------------*/

/* rankingの投稿のレイアウトを支持しています */

.fixed_rank{
	position: fixed;
	height: 300px;
    bottom: 420px;
    right: 10px;
    padding: 6px 40px;
    display: none;
}

.rank_post_all{
	height: 70px;
	margin-bottom: 60px;
}

.rank_title{
	margin-bottom: 20px;
}

.rank_number{
	margin-top: 10px;
	margin-right: 20px;
	font-size: 25px;
}

.rank_post_image{
	margin-left: 30px;
	margin-bottom: 5px;
	display: inline-block;
	height: 50px;
}

#rank_post_name a{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	height: 30px;
	color: black;
	border: 2px solid whitesmoke;
	width: 120px;
}

/*-------------------------/ranking-------------------------*/

/*-----------------------recommend_item----------------------*/

/* recommend_itemの投稿のレイアウトを支持しています */

.fixed_recommend_post{
	position: fixed;
	height: 20px;
    bottom: 420px;
    left: -10px;
    padding: 6px 40px;
    display: none;
}

/*-----------------------/recommend_item----------------------*/

.index_link_title{
	width: 150px;
	border: 2px solid whitesmoke;
	border-radius: 20px;
	text-align: center;
	display: none;
}

.index_link_title :hover{
	border-radius: 20px;
	background: #333;
}


#index_link_title a{
	text-decoration: none;
	font-size: 25px;
}

#index_link_title a:hover{
	text-decoration: none;
}

/*--------------------------------------------/body(responsive)-------------------------------------------------------*/

/*---------------------------------------------footer(responsive)------------------------------------------------------*/

/* footerのレイアウトを指示しています */

footer{
    margin-top: auto;
}

.footer_bottom{
	display: none;
}

.homes_footer_bottom{
	height: 70px;
	background: #333;
	width: 100vw;
}

.devise_footer_bottom{
	height: 70px;
	background: #333;
	width: 100vw;
}

.responsive_footer_bottom{
	height: 70px;
	background: #333;
	z-index: 5;
	width: 100vw;
	bottom: 0;
	position: fixed;
}

.responsive_footer_button_all{
	display: block;
}

.footer_information_all{
	display: block;
}

/* 非ログイン時のfooterのレイアウトを指示しています */

.footer_bottom_notlogin{
	height: 70px;
	background: #333;
	width: 100vw;
}

/* footerのボタンのレイアウトを指示しています */

.text-white{
	display: none;
}

.footer_top_button{
	width: 75px;
	height: 70px;
	float: left;
	padding-top: 24px;
	display: block;
	text-align: center;
	background-color: #333;
}

.footer_timeline_button{
	width: 75px;
	height: 70px;
	float: left;
	padding-top: 24px;
	display: block;
	text-align: center;
	background-color: #333;
}

.footer_post_button{
	width: 75px;
	height: 70px;
	float: left;
	padding-top: 24px;
	display: block;
	text-align: center;
	background-color: #333;
}

.footer_mypage_button{
	width: 75px;
	height: 70px;
	float: left;
	padding-top: 24px;
	display: block;
	text-align: center;
	background-color: #333;
}

.footer_notification_button{
	width: 75px;
	height: 70px;
	float: left;
	padding-top: 24px;
	display: block;
	text-align: center;
	background-color: #333;
}

.fa-home-color{
	color: white;
}

.fa-users-color{
    color: white;
}

.fa-user-color{
    color: white;
}

.fa-bookmark-color{
    color: white;
}

/*----------------------page_topボタン------------------------*/

.page_top{
  width: 60px;
  position: fixed;
  left: 310px;
  bottom: 75px;
  opacity: 0.6;
}
.page_top a{
  width: 60px;
  text-decoration: none;
}
.page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '';
  font-size: 50px;
  color: #333;
}

/*-----------------------------------------------------------*/

/*---------------------------------------------/footer(responsive)-----------------------------------------------------*/

}





