// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
	float: left;
	border: 2px solid whitesmoke;
	margin: 10px;
	padding: 3px;
}

.post_index_show{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 5px;
}

.post_index_user_name_image{
	margin-top: 5px;
	margin-left: 20px;
	height: 50px;
	display: block;
}

.post_index_post_image{
	display: block;
}


.post_index_iine{
	margin-left: 20px;
	height: 40px;
}

.iine__button{
	margin-left: 10px;
	font-size: 20px;
}

.post_index_post_category{
	height: 30px;
	width: 95px;
	margin-left: 29px;
	text-align: center;
	border: 2px solid whitesmoke;
}

.post_index_post_name{
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 30px;
	width: 279px;
}


.post_index_content{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 50px;
	width: 279px;
}

.post_index_url{
	height: 25px;
	width: 100px;
	text-align: center;
	border-radius: 10px;
	margin-left: 20px;
	text-decoration-color: #ffffff;
	background: linear-gradient(#ffffff, #f5f5f5);
}


.post_index_m{
	width: 300px;
    height: 650px;
}

.post_new_image{
	height: 50px;
	margin-bottom: 30px;
}

.post_new_post_name{
	margin-bottom: 10px;
}

.post_new_post_url{
	margin-bottom: 10px;
}

.post_new_content{
	margin-bottom: 10px;
}

.post_show_all{
	margin-bottom: 20px;

}
.post_comment_index_all{
	margin-top: 15px;
}

.post_comment_index_title{
	margin-left: 5px;
}

.post_comment_index_top{
	margin-bottom: 20px;
}

.post_comment_index{
    border: 2px solid whitesmoke;
    width: 600px;
    padding-top: 10px;
    padding-left: 10px;
}

.post_comment_index_content{
	border-bottom: 2px solid whitesmoke;
	width: 575px;
}

.post_comment_index_delete{
	margin-top: 12px;
	margin-left: 110px;
}

.post_comment_index_submit{
	margin-top: 5px;
}

#post_post_name{
	height: 40px;
}


#post_url{
	height: 40px;
}

#comment_content{
	height: 60px;
}

input[type="text"] {
        width: 465px;
        height: 100px;
    }

