// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav_search{
	margin-top: 5px;
	width: 600px;
	text-align: center;
}


.search_button{
	color: black;
	background: white;
	border-radius: 20px;
	text-decoration: none;

}

.search_button:hover {
    background: #333;
}

#search_button_link a{
    text-decoration: none;
}

.post_category_title{
	margin-left: 20px;
}

#post_category a{
    color: black;
}


.post{
	float: left;
	border: 2px solid whitesmoke;
	margin: 10px;
	padding: 3px;
}

.fixed_post{
  font-size: 25px;
  position: fixed;
  bottom: 10px;
  right: 25px;
  border-radius: 200px;
  border: 2px solid whitesmoke;
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0 0 1em;
  background: #fff;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.fixed_post:hover {
    font-size: 25px;
    position: fixed;
    bottom: 10px;
    right: 25px;
    border-radius: 200px;
    background: #333;
    border: 1px #333;
}

#post_link a{
    text-decoration: none;
    color: black;
}

img {
    border-radius: 30px;
}

#post-all{
	margin-left: 45px;
}

.post_index_show{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 5px;
}

.post_index_user_name_image{
	margin-top: 5px;
	margin-left: 20px;
	height: 50px;
	display: block;
}

.post_index_post_image{
	display: block;
}


.post_index_iine{
	margin-left: 20px;
	height: 40px;
}

.iine__button{
	margin-left: 10px;
	font-size: 20px;
	color: #333;
}

.iine__button :hover{
	color: dimgray;
}


.post_index_post_category{
	height: 30px;
	width: 95px;
	margin-left: 29px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid whitesmoke;
}

.post_index_post_category :hover{
	background: #333;
	border-radius: 10px;
}

#post_index_category_link a{
    text-decoration: none;
    color: black;
}


.post_index_post_name{
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 30px;
	width: 279px;
}


.post_index_content{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 50px;
	width: 279px;
	overflow: hidden;
}

.post_index_url{
	height: 25px;
	width: 100px;
	text-align: center;
	border-radius: 10px;
	margin-left: 20px;
	background: gold;
}

.post_index_url:hover {
    background: yellow;
}

#post_url_link a{
	text-decoration: none;
    color: black;
}

#post_index_show_link a{
	text-decoration: none;
}


.post_index_m{
	width: 300px;
    height: 650px;
}

.post_new_image{
	height: 50px;
	margin-bottom: 30px;
}

.post_new_post_name{
	margin-bottom: 10px;
}

.post_new_post_url{
	margin-bottom: 10px;
}

.post_new_content{
	margin-bottom: 10px;
}

.post_show_all{
	margin-bottom: 20px;
	margin-left: 100px;

}
.post_comment_index_all{
	margin-top: 15px;
}

.post_comment_index_title{
	margin-left: 5px;
}

.post_comment_index_top{
	margin-bottom: 20px;
}

.post_comment_index{
    border: 2px solid whitesmoke;
    width: 600px;
    padding-top: 10px;
    padding-left: 10px;
}

.post_comment_index_content{
	border-bottom: 2px solid whitesmoke;
	width: 575px;
}

.post_comment_index_delete{
	margin-top: 12px;
	margin-left: 110px;
}

.post_comment_index_submit{
	margin-top: 5px;
}

.post_edit_link{
	margin-left: 50px;
	margin-right: 5px;
}

#post_post_name{
	height: 40px;
}


#post_url{
	height: 40px;
}

#comment_content{
	height: 60px;
}



