// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_show_info{
	width: 500px;
	margin-left: 340px;
}

.user_show_image{
	margin-bottom: 20px;
	float: left;
}

.user_show_user_name{
	margin-left: 120px;
	margin-bottom: 20px;
	border-bottom: 2px solid whitesmoke;
	width: 200px;
}

.user_show_user_email{
	margin-left: 120px;
	margin-bottom: 20px;
	border-bottom: 2px solid whitesmoke;
	width: 200px;

}

.user_show_m{
	width: 300px;
    height: 320px;
}