// Place all the styles related to the users::notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------PC時のCSSを指定しています--------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*通知画面のレイアウトを指示しています*/

.notification_all{
	margin-left: 270px;
}

/*通知のコメントの位置を指示しています*/

.notification_comment{
	margin-left: 55px;
}

/*通知のページネーションの位置を指示しています*/

.notification_paginate{
	position: fixed;
	left: 600px;
	bottom: 70px;
}

/*通知画面のゴミ箱の位置を指示しています*/

.notification_trash{
	margin-top: 10px;
	margin-left: 550px;

}

/*通知時のサインの位置を指示しています*/

.notification-circle{
	color: springgreen;
	position: fixed;
	right: 65px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------responsive時のCSSを指定しています---------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:375px){

/*通知画面のレイアウトを指示しています*/

.notification_all{
	margin-top: 100px;
	margin-left: 0px;
	margin-bottom: 100px;
}

/*通知のコメントの位置を指示しています*/

.notification_comment{
	margin-left: 0px;
}

/*通知画面のゴミ箱の位置を指示しています*/

.notification_trash{
	margin-top: 10px;
    margin-left: 300px;
}

/*通知時のサインの位置を指示しています*/

.notification-circle{
	color: springgreen;
	bottom: 35px;
	left: 340px;
	z-index: 10;
	width: 25px;
}

}