// Place all the styles related to the users::notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification_all{
	margin-left: 270px;
}

.notification_comment{
	margin-left: 55px;
}

.notification_paginate{
	position: fixed;
	left: 600px;
	bottom: 70px;
}

.notification_trash{
	margin-top: 10px;
	margin-left: 550px;

}

.notification-circle{
	color: springgreen;
	position: fixed;
	right: 65px;
}

@media screen and (max-width:375px){

.notification_all{
	margin-top: 100px;
	margin-left: 0px;
	margin-bottom: 100px;
}

.notification_comment{
	margin-left: 0px;
}

.notification_trash{
	margin-top: 10px;
    margin-left: 300px;
}

.notification-circle{
	color: springgreen;
	position: fixed;
	bottom: 35px;
	right: 17px;
}

}