
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------PC時のCSSを指定しています--------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/* サインイン画面全体のレイアウトを指定しています */
.users_registrations_new_all{
	width: 310px;
	text-align: center;
	margin-left: 395px;
	margin-bottom: 40px;
	padding-top: 10px;
}

/* サインイン画面の名前の入力フォームの余白を指定しています */
.users_registrations_new_name{
	margin-top: 20px;
}

/* サインイン画面のemailの入力フォームの余白を指定しています */
.users_registrations_new_email{
	margin-top: 10px;
}

/* サインイン画面のパスワードの入力フォームの余白を指定しています */
.users_registrations_new_password{
	margin-top: 10px;
}

/* サインイン画面のパスワードの入力フォームの余白を指定しています */
.users_registrations_new_pass_form{
	margin-bottom: 20px;
}

/* サインイン画面のサインインボタンのレイアウトを指定しています */
.users_registrations_new_submit_button{
	width: 250px;
	height: 50px;
	background: #333;
	color: white;
	margin-bottom: 10px;
}

/* サインイン画面のサインインボタンのホバー時のレイアウトを指定しています */
.users_registrations_new_submit_button:hover{
	width: 250px;
	height: 50px;
	background: dimgray;
	color: white;
}

/* サインイン画面のSNSボタン全体の余白を指定しています */
.sns_signin{
	margin-top: 20px;
}

/* サインイン画面のfacebookボタンの余白と横幅を指定しています */
.facebook_sign_boot{
	width: 310px;
	margin-bottom: 5px;
}

/* サインイン画面のfacebookボタンの余白を指定しています */
.facebook_sign{
	margin-top: 10px;
}

/* サインイン画面のgoogleボタンの余白と横幅を指定しています */
.google_sign_boot{
	width: 310px;
	margin-bottom: 20px;
}

/* サインイン画面のgoogleボタンの余白を指定しています */
.google_sign{
	margin-top: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------responsive時のCSSを指定しています---------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:375px){

/* サインイン画面のタイトルのレイアウトを指定しています */
.devise_title{
	text-align: center;
	position: fixed;
	top: -10px;
    left: 0px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	background: #fff;
	z-index: 20;
}

/* サインイン画面全体のレイアウトを指定しています */
.users_registrations_new_all{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 30px;
	padding-top: 10px;
}

/* サインイン画面のパスワードの入力フォームの余白を指定しています */
.users_registrations_new_pass_form{
	margin-bottom: 20px;
}

/* サインイン画面のサインインボタンのレイアウトを指定しています */
.users_registrations_new_submit_button{
	width: 70%;
	height: 50px;
	background: #333;
	color: white;
	margin-bottom: 10px;
}

/* サインイン画面のサインインボタンのホバー時のレイアウトを指定しています */
.users_registrations_new_submit_button:hover{
	width: 70%;
	height: 50px;
	background: dimgray;
	color: white;
}

/* サインイン画面のSNSボタン全体の余白を指定しています */
.sns_signin{
	margin-top: 20px;
}

/* サインイン画面のfacebookボタンの余白と横幅を指定しています */
.facebook_sign_boot{
	width: 85vw;
	margin-bottom: 5px;
}

/* サインイン画面のfacebookボタンの余白を指定しています */
.facebook_sign{
	margin-top: 10px;
}

/* サインイン画面のgoogleボタンの余白と横幅を指定しています */
.google_sign_boot{
	width: 85vw;
}

/* サインイン画面のgoogleボタンの余白を指定しています */
.google_sign{
	margin-top: 10px;
}

/* サインイン画面のfooterのレイアウトを指定しています */
.devise_footer_bottom{
   height: 50px;
   background: #333;
}

#wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

}